.banner {
    display:flex;
    justify-content: space-between;
    padding: 3rem 10rem 3rem 10rem;
    background-image: linear-gradient(#f5f5f5, #2571dc);
    background-position: center;
    color: #000000;
}

.banner__principal {
    font-size: 4rem;
    max-width: 100%;
    padding-bottom: 2rem;
    font-weight: 600;
}

.banner__secundario {
    font-size: 1.5rem;
    max-width: 100%;
    padding-bottom: 2rem;
    font-weight: 100;
}

.banner__texto {
    flex-direction: column;
}

.banner__enlace {
    display: inline;
    font-size: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.foto__perfil {
    width: 25vw;
    height: 25vw;
    border-radius:  100%;
}

@media screen and (min-width:768px) and (max-width:992px) {

    .banner {
        padding: 2rem 1rem 2rem 1rem;
    }

    .banner__principal {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    .banner__secundario {
        font-size: 1.25rem;
        padding-bottom: 1rem;
    }

    .banner__enlace {
        font-size: 1.25rem;
        padding-right: 1rem;
        padding-bottom: 0;
    }

    .banner__contenedor--enlace {
        display: flex;
        justify-content: space-between;
    }

    .foto__perfil {
        width: 20vw;
        height: 20vw;
        margin-left: 3rem;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .banner {
        padding: 1rem 1rem 1rem 1rem;
        flex-direction: column;
    }

    .foto__perfil {
        width: 30vw;
        height: 30vw;
        order: -1;
    }

    .banner__principal {
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }

    .banner__secundario {
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    .banner__enlace {
        font-size: 0.78rem;
        padding-right: 1rem;
        padding-bottom: 0;
        flex-wrap: nowrap;
    }

    .banner__contenedor--enlace {
        display: flex;
        justify-content: space-between;
    }
}